.top {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;
}

input {
    width: 95%;
    padding: 0.75%;
    background: rgb(41, 41, 41);
    border: 0px;
    color: #dadada;
    font-size: 2rem;
    margin: 1px;
}

input:focus {
    outline: none !important;
}

.my-auto {
  margin: 1%;
}