<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>{{ title | default: "Nick's Site" }}</title>
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Nick's Site" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ "/basic.css" | rev }}" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <meta property="og:title" content="{{ title | default: "Nick's Site" }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="{{ locale | default: "en_US" }}" />
    <meta property="og:description" content="{{ snippet | default: "This is a blog where I write random posts." }}" />
    <meta name="description" content="{{ snippet | default: "This is a blog where I write random posts." }}">
    <meta property="og:site_name" content="Nick's Site" />
{% if tags[0] == "posts" %}    <meta property="article:published_time" content="{{ date | custom_date_iso }}" />
    <meta property="article:section" content="Technology" />
    {% for tag in tags offset:1 %}<meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
{% endif %}
</head>
<body>
    <header>
        <a id="top"></a>
        <div style="margin: 0 auto; text-align: center;">
            <h1><a href="/">Nick's Site</a></h1>
        </div>

        <div class="menu">
            <p><a href="/sites/recommendations">Blog recommendations</a></p>
            <p><a href="/sites/links">link collection</a></p>
            <p><a href="/sites/privacy">Privacy Policy</a></p>
            <p><a href="/sites/imprint">Imprint</a></p>
            <p><a href="/feed.xml">RSS</a></p>
        </div>
    </header>
    <main>
        <span class="menu">
            <article class="content">
                {% if snippet %}
                    <div style="margin: 0 auto; text-align: center; padding-top: 1%;">
                        <h1>{{ title }} ({{ date | custom_date }})</h1>
                    </div>
                {% endif %}
                {{ content }}
                <hr />
                {% if snippet %}<a href="#top" style="padding-bottom: 1.5%;">Back to top</a>{% endif %}
            </article>
        </span>
    </main>
</body>
</html>