html {
    font-size: medium;
    font-family: system-ui, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

img {
    display: block;
    padding: 1% 0% 1%;
    width: 50%;
}

.center {
    text-align: center;
    margin-bottom: .335em;
}

.post h2 {
    margin-bottom: 0.25em;
}

.post {
    margin-bottom: 1.5em;
}

.post .date {
    padding-top: 0.3em;
}

.posts a,
h1 a {
    text-decoration: none;
    color: black;
}

.posts a:hover,
h1 a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5em;
}

.menu p {
    padding-right: 1%;
}

@media screen and (max-width: 701px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
}

.content {
    width: 75%;
    order: 3;
}

.content h1 {
    margin-bottom: 0.335em;
}

.content h2 {
    margin-bottom: 0.75em;
    margin-top: 2em;
}

.content h3 {
    margin-top: 1.5em;
    margin-bottom: 0.415em;
}

.content li {
    margin: 0.5%;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}