html {
    font-size: 16px;
    font-family: system-ui, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans",
        "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

img {
    display: block;
    padding: 1% 0% 1%;
    width: 50%;
}

.wrap {
    display: flex;
}

h1 a,
h2 a,
.posts a {
    color: black;
    text-decoration: none;
}

.nav {
    width: 15%;
    order: 2;
    padding: 1% 1%;

    a {
        color: black;
        text-decoration: none;
        padding: 0.5%;
    }
}

.content {
    width: 85%;
    order: 3;

    li {
        margin: .5%;
    }
}

@media (max-width: 1220px) {
    .wrap {
        flex-wrap: wrap;
    }

    .content {
        order: 2;
        width: 100%;
    }

    .nav {
        order: 3;
        width: 100%;
    }
}



.post-info {
    padding-bottom: 2%;
}


// https://stackoverflow.com/a/48694906
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}