---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <sitemap>
      <loc>https://nickwasused.com/sitemap_pages.xml</loc>
      <lastmod>{{ page.date | dateToRfc822 }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://nickwasused.com/sitemap_posts.xml</loc>
      <lastmod>{{ page.date | dateToRfc822 }}</lastmod>
   </sitemap>
</sitemapindex>



