name: Build & Deploy

on:
  push:
    branches: ['main']
    paths:
      - '.eleventy.js'
      - '**.yml'
      - 'src/**'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: install pnpm
        run: npm i -g pnpm

      - name: Install packages
        run: pnpm i

      - name: run pnpm build
        run: pnpm run build
    
      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.ftp_server }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          local-dir: ./dist
        